monolog:
    handlers:
        main:
            type: stream
            path: php://stderr
            level: debug
            channels: ["!event"]
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]
        file_log:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: notice
